<header>

  <nav class="navbar navbar-expand-md ">

    <div><img style="width: 200px; height: 50px;" src="/assets/images/background/logoCap.png">
    </div>
    <ul class="navbar-nav">
      <!-- <li><a href="/welcome" class="nav-link">Home</a></li> -->
      <!-- <li><a href="/todos" class="nav-link">todos</a></li> -->

    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <!-- <li><a href="/login" class="nav-link">Login</a></li> -->
      <!-- <button type="button" class="btn btn-light"><a routerLink="login" class="nav-link">Login</a></button> -->
      <!-- <li><a href="/logout" class="nav-link">Logout</a></li> -->

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <a routerLink="/login" class="nav-link">Login</a>
      </button>
    </ul>
  </nav>
</header>